<h1>Create a Movie List</h1>

<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :name %>
  <%= f.input :image_url, as: :file %>
  <%= f.submit :save %>
<% end %>

<%= link_to "back", root_path %>
