<h1><%= @list.name %> Movies</h1>
<%= link_to "add bookmark", new_list_bookmark_path(@list) %>
<%= link_to "back", lists_path %>

<h2>Movies</h3>

<% if @list.bookmarks.blank? %>
  <p>No movies yet</p>
<% else %>
  <% @list.bookmarks.each do |bookmark| %>
    <div class="movie-card">
      <%= image_tag bookmark.movie.poster_url %></p>
      <h3><%= bookmark.movie.title %></h3>
      <p><%= bookmark.movie.overview %></p>
      <p><%= bookmark.movie.rating %></p>
      <%= link_to "remove", list_bookmark_path(bookmark), method: 'delete' %>
    </div>
  <% end %>
<% end %>
